<script type="text/javascript" src="/js/profile.js"></script>
<div class="row prog-bar"></div>
<div class="row p-1">
    <div class="col-6 ">
        <a href="/">
        <button style="width: 40px; height: 40px" class="btn btn-default btn-lg button"><i class="fa fa-close"></i></button>
        </a>
    </div>

    <% if (myprofile) { %>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-default btn-lg text-center"><a href="/API/logout"><i
                            class="fa fa-sign-out"></i><br>Logout</a></button>
        </div>
    <% } %>
</div>
<div class="row p-1">
    <div class="col-12">
        <div id="pfp-holder">
            <img src="<%= profile.pfp %>" class="profile-icon2 centre">
        </div>
    </div>
</div>
<br>
<div id="disp-name"><h2><%= profile.display %></h2></div>
<div id="bio"><p> <%= profile.bio %> </p></div>
<br>
<div class="row p-1">
    <div class="col-6 p-1 ">
        <button class="btn btn-danger profile-button" id="friends-counter">Friend</button>
    </div>
    <div class="col-6 p-1 ">
        <button class="btn btn-danger profile-button" id="posts-counter">Scrap</button>
    </div>
</div>
<% if (myprofile) { %>
    <div class="row p-1">
        <div class="col-12 p-1">
            <button class="btn btn-danger profile-button" id="profileButton" value="Edit Profile" onclick="change(); myFunction()">Edit Profile</button>
        </div>
    </div>
<% } %>
<div class="row p-2" id="myDIV2">
    <div class="col-12 p-0">
        <div class="posts-holder no-scroll-bar" id="<%= profile.userID %>">
            <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading <%= profile.disp_name %>'s Posts</span>
            </div>
        </div>
    </div>
</div>

<div class="row p-2" id="myDIV3">
    <div class="col-12 p-2 profileColours">
        <p class="text-left ">Profile Colour</p>
        <button class="btn btn-danger buttonStyles" id="#dc3545"></button>
        <button style="background-color: orangered" id="#ff4500" class="btn btn-danger buttonStyles"></button>
        <button style="background-color: green" id="#00ff00" class="btn btn-danger buttonStyles"></button>
        <button style="background-color: blue" id="#0000ff" class="btn btn-danger buttonStyles"></button>
        <button style="background-color: purple" id="#800080" class="btn btn-danger buttonStyles"></button>
    </div>
    <div class="col-12 p-2 profileColours">
        <p class="text-left ">Show Real name on Profile</p>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
        </div>
    </div>
    <div class="col-12 p-2 profileColours">
        <p class="text-left ">Post Visibility: Public</p>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
        </div>
    </div>
</div>