<script type ="text/javascript" src="/js/post.js"></script>
<link rel="stylesheet" href="/css/post.css">
    <div class="col post-holder" id="<%= post.postID %>">
        <div class="row post-heading">
            <h1><%= post.title %></h1>
        </div>
        <div class="row img-holder-main carousel slide">
            <div class="carousel-inner">
                <% if (post.media) { %>
                    <% post.media.forEach(src => { %>
                        <div class="carousel-item active">
                            <img src="<%= src %>" class="d-block w-100" alt="...">
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row post-reactions">
            <%- include('../post/reactions', {reacts: post.reacts, user: user}); %>
        </div>
        <div class="row post-desc">
            <%= post.desc %>
        </div>
        <% if (user.userID != 0) { %>
            <div class="row add-comment">
                <div class="col">
                    <div class="row add-comment">
                        <textarea rows="4" cols="70" type="text" name="comment" id="comment" placeholder="Add a comment" class="form-control comment-input"></textarea>
                    </div>
                    <div class="row comment-btn-holder">
                        <button class="btn comment-btn cancel" disabled="disabled">Cancel</button>
                        <button class="btn comment-btn add" disabled="disabled">Post</button>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="post-comments">
            <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading comments</span>
              </div>
        </div>
    </div>