    <link rel="stylesheet" href="/css/login.css">
    <script type ="text/javascript" src="/public/js/signUpValidator.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
                crossorigin="anonymous"></script>
    <script type="text/javascript" scr="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="js/validation.js"></script>
   
    <div class="col userDetails">
        <div class="tab">
            <button class="tablinks login active">Login</button>
            <button class="tablinks signup">Sign Up</button>
        </div>
        <div id="signup" class="tabcontent">
<!-- -------------------------------Signup Form -->
            <form id="signupForm" name="contact-details" action="/API/signup" method="post">
                <div class="personal-info">
                    <div class="row contact-name">
                        <input id="fname" minlength="3" class="col form-control" name="fname" placeholder="First Name" required >
                        <input id="lname" minlength="3" class="col form-control" name="lname" placeholder="Last Name"  required>
                    </div>
<!-- -------------------------- Validated data -->
                        <label for="email"><% if (typeof(emailError) !== 'undefined' && emailError === true) { %>
                            <%= message %>
                        <% } %> </label>
                        <input id="email" type="email"  name="email"  title="Email should be like: example@example.com" class="form-control" placeholder="Email Address"id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required >
                        <input type="date" id="DOB" class="form-control"name="DOB"  required/>
                </div>
                <div class="user">
                    <label for="usercheck"> <% if (typeof(usernameError) !== 'undefined' && usernameError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input id="username" minlength="4" name="username"  class="form-control" placeholder="Username" required/>
                    <input id="disp_name" name="disp_name" class="form-control" placeholder="Display Name" required/>
                </div>
                <div class="contact-details">
                </div>
                <div class="password">
                    <input type="password" minlength="8" id="pw1" name="pw1" class="form-control" placeholder="Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 
                    'Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); 
                    if(this.checkValidity()) form.pw2.pattern = this.value;" required/>
                    <label for="passcheck2"> <% if (typeof(passwordError) !== 'undefined' && passwordError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input  type="password" id="pw2" minlength="8" name="pw2" class="form-control" placeholder="Confirm Password" 
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required />
                </div>
                <div class="row">
                    <button class="btn btn-danger" type="submit" name="submit" id="submit"> Sign-up </button>
               
                </div>

            </form>
            <div class="policy">
                By creating an account you agree to our <a style="color: blue" href="./downloads/TOS.pdf" download="Terms Of Service">Terms of Service</a>, <a style="color: blue" href="./downloads/PP.pdf" download="Privacy Policy">Privacy Policy</a> and our <a style="color: blue" href="./downloads/EULA.pdf" download="EULA">End-User License Agreement (EULA).</a>
            </div>
        </div>
        <div id="login" class="tabcontent active">
<!-- ------------------------------Login -->
            <form name="login" action="/API/login" method="post">
                <div class="username">
                    <label for="ID"> <% if (typeof(IDerror) !== 'undefined' && IDerror === true) { %>
                        <%= message %>
                    <% } %> </label>
                    <input id="ID" name="ID" class="form-control" placeholder="Username / Email"/>
                </div>
                <div class="password">
                    <label for="pw"> <% if (typeof(pwError) !== 'undefined' && pwError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input type="password" id="pw" name="pw" class="form-control" placeholder="Password"/>
                </div>
                <div class="row">
                    <button class="btn btn-danger" type="submit" name="submit" id="submit" > Log-in </button>
                </div>
            </form>
        </div>
    </div>
