    <link rel="stylesheet" href="/css/login.css">
    <div class="col userDetails">
        <div class="tab">
            <button class="tablinks login active">Login</button>
            <button class="tablinks signup">Sign Up</button>
        </div>
        <div id="signup" class="tabcontent">
<!-- -------------------------------Signup Form -->
            <form id="singupForm" name="contact-details" action="/views/signup" method="post">
                <div class="personal-info">
                    <div class="row contact-name">

                        <input id="fname" class="col form-control" name="fname" placeholder="First Name">
                        <input id="lname" class="col form-control" name="lname" placeholder="Last Name">
                    </div>
<!-- -------------------------- Validated data -->
                        <label for="email"><span STYLE="font-size:0.5em;">(required, invaild email)</span> <% if (typeof(emailError) !== 'undefined' && emailError === true) { %>
                            <%= message %>
                        <% } %> </label>
                        <input id="email" name="email" class="form-control" placeholder="Email Address" required>
                         <!-- <label id="emailcheck" class="form-text
                        text-muted invalid-feedback">
                                Your email must be a valid email!
                         </label> -->

                        <label for="DOB"><span STYLE="font-size:0.5em;">(required, You need to be older then 16 years old)</span></label>
                        <input type="date" id="DOB" class="form-control"name="DOB" required/>
                         <!-- <label id="dobcheck" style="color: red;">
                            **Username is missing!
                        </label> -->
                </div>

                <div class="username">
                    <label for="username"><span STYLE="font-size:0.5em;">(required, need at least 3 charcaters)</span> <% if (typeof(usernameError) !== 'undefined' && usernameError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input id="username" name="username" class="form-control" placeholder="Username" required/>
                     <!-- <label id="usercheck" style="color: red;">
                            **Username is missing!
                        </label> -->
                    <input id="disp_name" name="disp_name" class="form-control" placeholder="Display Name" required/>
                </div>
                <div class="contact-details">
                </div>
                <div class="password">
                    <label for="pw1"><span STYLE="font-size:0.5em">(required, invalid password)</span></label>
                    <input type="password" id="pw1" name="pw1" class="form-control" placeholder="Password" required/>
                    <!-- <label id="passcheck" style="color: red;">
                        **Password is missing!
                    </label> -->
                    <label for="pw2"><span STYLE="font-size:0.5em">(required, password do not match)</span> <% if (typeof(passwordError) !== 'undefined' && passwordError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input  type="password" id="pw2" name="pw2" class="form-control" placeholder="Confirm Password" required/>
                     <!-- <label id="passcheck2" style="color: red;">
                        ** Password confirmation!
                    </label> -->
                </div>
                <div class="row">
                    <button class="btn btn-danger" disabled="disabled" type="submit" name="submit" id="submit"> Sign-up </button>
                </div>
            </form>
        </div>
        <div id="login" class="tabcontent active">
<!-- ------------------------------Login -->
            <form name="login" action="/API/login" method="post">
                <div class="username">
                    <label for="ID"> <% if (typeof(IDerror) !== 'undefined' && IDerror === true) { %>
                        <%= message %>
                    <% } %> </label>
                    <input id="ID" name="ID" class="form-control" placeholder="Username / Email"/>
                </div>
                <div class="password">
                    <label for="pw"> <% if (typeof(pwError) !== 'undefined' && pwError === true) { %>
                            <%= message %>
                        <% } %> </label>
                    <input type="password" id="pw" name="pw" class="form-control" placeholder="Password"/>
                </div>
                <div class="row">
                    <button class="btn btn-danger" type="submit" name="submit" id="submit" > Log-in </button>
                </div>
            </form>
        </div>
    </div>
