<script type ="text/javascript" src="/js/requests.js"></script>
<link rel="stylesheet" href="/css/addFriend.css">
<div class="row prog-bar"></div>
<div class="row menu-item d-inline-block" id="friend-requests">
    <i class="menu-icon bi bi-person-fill-add"></i>
    <a href="/"><span class="menu-text">Friend Requests</span></a>
</div>
<% requests.forEach(request => { %>
    <div class="row friend-result d-inline-block pt-2" id="profile/<%= request.profile.username %>">
        <img src="<%= request.profile.pfp %>" class="profile-icon">
        <span class="menu-text"><%= request.profile.username %></span>
        <div class="req-btns">
            <button class="btn btn-danger req-btn accept" id="<%=request.reqID %>"> Accept </button>
            <button class="btn btn-danger req-btn decline" id="<%=request.reqID %>"> Decline </button>
        </div>
    </div>
<% }) %>